<!DOCTYPE html>
<html>
<% include par/head%>

<body>
    <div class="container">
    <div class="row">
<% if (usr) { %>
<% include par/top %>
<% } else { %>
<% include par/login %>
<% } %>
    </div>
    </div>
</body>
</html>

