<!DOCTYPE html>
<html>
<% include par/head%>

<% if (usr!==null) { %>
<% include par/nav%>
<% } %>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-1 bg-bei" ></div>

<div class="col-sm-10" >
<div align="center">
<br>
<% if (usr!==null) { %>
    ログインしています。
    <% include par/out %>
    <% } else { %>
<% include par/login %>
<% } %>
</div><!-- /center-->
</div><!-- /col12-->

<div class="col-sm-1 bg-bei" ></div>
</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

