<% include par/head %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-1 bg-bei"></div><!-- col2 -->

<div class="col-md-10 ">

<div class="card">
<div class="card-header">
    <h4 class="text-center"><p class="badge badge-warning">ログアウトしました</p></h4>

    <p class="text-center"><a class="badge badge-primary" href="/">ログインする</a></p>

</div>
</div>

</div><!-- col10 -->

<div class="col-md-1 bg-bei"></div><!-- col2 -->


</div><!-- row -->
</div><!-- cont -->

</body>


