<%= mon %>

<div class="row">

<% for (var i=0;i<7;i++) {%>
<div class="col bg-ali p-3 border rounded"><%= day[i] %></div>
<% } %>

</div>

<div class="row">

<% for (var i=0;i<7;i++) {%>
<div class="col bg-ali p-3 border rounded"><%= dat[i] %></div>
<% } %>

</div>

<div class="row">

<% for (var i=7;i<14;i++) {%>
<div class="col bg-ali p-3 border"><%= dat[i] %></div>
<% } %>

</div>
