<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
<ul class="navbar-nav">
<a class="navbar-brand" href="/">home</a>
    <li class="nav-item"><a class="nav-link" href="/page-cub">cub</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-ana">ana</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-geo">geo</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-mat">mat</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-pan">pan</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-ray">ray</a></li>
    <li class="nav-item"><a class="nav-link" href="/page-ste">ste</a></li>
    <li class="nav-item"><a class="nav-link" href="/mail">mail</a></li>
  </ul>

</nav>

