<form action="/out" method="post">
<div class="form-group">
<input class="form-control" name="out" type="hidden" value="out">
</div>

<button type="submit" class="btn btn-primary">log out</button>
</form>

