	<div id="container"></div>

	<script src="thr/three.min.js"></script>
	<script src="thr/TrackballControls.js"></script>
	<script src="thr/dat.gui.min.js"></script>
	<script src="thr/stats.min.js"></script>
	<script src="thr/par1.js"></script>

	<script src="js/par.js"></script>


